html,body {
  width: 100%;
  height: 100%;
  v
}
h1 {
  color: red;
  animation: colors 2s infinite ease-in;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 10em;
  text-align: center;
  user-select: none;
}


@keyframes colors {
  0% {color: red}
  15% {color: orange}
  30% {color: yellow}
  50% {color: green}
  70% {color: blue}
  90% {color: purple}
  100% {color: red}
}


@keyframes bgcolors {
  0% {color: rgba(1.0, 0.0, 0.0, 0.3)}
  50% {color: rgba(0.0, 1.0, 0.0, 0.3)}
  75% {color: rgba(0.0, 0.0, 1.0, 0.3)}
  100% {color: rgba(1.0, 0.0, 0.0, 0.3)}
}
