html,body {
  width: 100%;
  height: 100%;
  background: #efefef;
}
h1 {
  color: red;
  margin: 0;
  font-family: sans-serif;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MDAgMzAwIj4NCjxwYXRoIGZpbGw9IiM4NjE2MjMiIGQ9Im0wLDBoNjAwdjMwMGgtNjAweiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMTIwaDYwMHY2MGgtNjAweiIvPg0KPC9zdmc+DQo=');
  font-size: 4em;
  text-align: center;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kalku {
  width: 400px;
  margin: 0 auto;
}
